    /*
    Flaticon icon font: Flaticon
    Creation date: 05/09/2017 15:10
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-payment-method:before { content: "\f100"; }
.flaticon-rectangles:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-contact:before { content: "\f103"; }
.flaticon-group-security:before { content: "\f104"; }
.flaticon-avatar-group:before { content: "\f105"; }
.flaticon-community:before { content: "\f106"; }
.flaticon-savings:before { content: "\f107"; }
.flaticon-clerk-with-tie:before { content: "\f108"; }
.flaticon-advertiser-megaphone:before { content: "\f109"; }
    
    $font-Flaticon-payment-method: "\f100";
    $font-Flaticon-rectangles: "\f101";
    $font-Flaticon-team: "\f102";
    $font-Flaticon-contact: "\f103";
    $font-Flaticon-group-security: "\f104";
    $font-Flaticon-avatar-group: "\f105";
    $font-Flaticon-community: "\f106";
    $font-Flaticon-savings: "\f107";
    $font-Flaticon-clerk-with-tie: "\f108";
    $font-Flaticon-advertiser-megaphone: "\f109";