	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/09/2017 15:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-payment-method:before { content: "\f100"; }
.flaticon-rectangles:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-contact:before { content: "\f103"; }
.flaticon-group-security:before { content: "\f104"; }
.flaticon-avatar-group:before { content: "\f105"; }
.flaticon-community:before { content: "\f106"; }
.flaticon-savings:before { content: "\f107"; }
.flaticon-clerk-with-tie:before { content: "\f108"; }
.flaticon-advertiser-megaphone:before { content: "\f109"; }