a{
  color: #de1846;
}
a:hover{
  color: #de1846;
}
.btn-common {
  background: #de1846;
}
.btn-common::before{
  background: #0cc3ea;
}
.btn-border:hover{
  color: #0cc3ea;
}
/* Back to Top */
.back-to-top i {
  background-color: #de1846;
}
#color-style-switcher .bottom a i{
  color: #de1846;
}
#roof{
  background: #de1846;
}
/* Navbar */
.slicknav_btn{
  border-color: #de1846;
  border-radius: 2px;
}
.slicknav_menu .slicknav_btn .slicknav_icon-bar{
  background: #de1846;
}
.slicknav_menu .slicknav_btn:hover{
  background: #de1846;
}
.slicknav_nav a:hover,.slicknav_nav a.active{
  color: #de1846;
}
.slicknav_nav ul li a.active{
  color: #de1846;
}
.full-search{
  border-color: #de1846;
}
.full-search::before{
  border-color: transparent transparent #de1846;
}
.full-search input[type="text"]{
  border-top: 2px solid #de1846;
}
.full-search input[type="text"]:focus{
  border-top: 2px solid #de1846;
}
.full-search .close-search{
   color: #de1846;
}
.account-setting a:hover{
  color: #de1846;
}
/* Navbar */
.main-navigation .navbar-nav > li > a:hover,
.main-navigation .navbar-nav > li > a.active,
.main-navigation .navbar-nav > li.open > a,
.main-navigation .navbar-nav > .active > a:hover,
.main-navigation .navbar-nav > .active > a:focus,
.main-navigation .navbar-nav > .open > a:hover{
  color: #de1846;
}
.dropdown-menu > li > a:focus,
.dropdown-menu> li > a:hover,
.dropdown-menu> li > a.active{
  background: #de1846;
}
.open-search{
  background: #de1846;
}
#carousel-area .carousel-indicators li{
  background: #de1846;
}
.activity-item{
  border-color: #de1846;
}
.icon i{
  background: #de1846;
}
.thumb .courses-price .price{
  color: #de1846;
}
.coaching-courses .coaching-wrapper h3 span{
  color: #de1846;
}
.why-wrap:hover h4 a{
  color: #de1846;
}
.counting .icon-left i{
  color: #de1846;
}
.teacher .teacher-item .teacher-desc h3 a:hover{
  color: #de1846;
}
.news-grid-item .news-content .news-title a:hover{
  color: #de1846;
}
.news-grid-item .news-content .meta .meta-part a:hover{
  color: #de1846;
}
.meta .meta-part a i{
  color: #de1846;
}
footer .address li i{
  color: #de1846;
}
footer .list li a:hover{
  color: #de1846;
}
.course-list .courses-list-1 .item-list .price{
  color: #de1846;
}
/* Feature Highlighta */
.owl-theme .owl-buttons div{
  background: #de1846!important;
}
/* Gallery */
.controls a:hover, .controls .active{
  background: #de1846;
}
.controls a{
  border-color: #de1846;
}
.portfolio-item .icon i:hover{
  color: #de1846;
  border-color: #de1846;
}
.sup-desc-wrap .sup-link .left-link, .sup-desc-wrap .sup-link .right-link{
  border-color: #de1846;
  background: #de1846;
}
.sup-desc-wrap .sup-link a:hover{
  color: #de1846;
}
/* Pagination */
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background: #de1846!important;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
  background: #de1846!important;
  border-color: #de1846!important;
}
.breadcrumb-wrapper .current{
  color: #de1846;
}
#sidebar .tag a:hover{
  color: #de1846;
}
.widget-area-sidebar .posts-list .widget-content a:hover{
  color: #de1846;
}
.widget-featured .widget-img .text span{
  color: #de1846;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #de1846;
}
.nav-tabs > li > a{
  border-color: #de1846; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover{
  background: #de1846;
  border-color: #de1846; 
}
.form-control:focus, textarea:focus{
  border-color: #de1846; 
}
.panel-default .panel-heading a:hover{
  color: #de1846;
}
.cta{
  background: #de1846; 
}
.tp-bullets.preview4 .bullet:hover, .tp-bullets.preview4 .bullet.selected{
  background: #de1846!important; 
  border-color: #de1846!important; 
}

.single-course .course-item .topics ul li i{
  color: #de1846;
}
.course-information .amount{
  color: #de1846;
}
#sidebar .cat-list li i{
  color: #de1846;
}
#sidebar .posts-list .widget-content a{
  color: #de1846;
}
.about .info-list li a i{
  color: #de1846;
}
.about .info-list li a:hover{
  color: #de1846;
}
.post-title a:hover{
  color: #de1846;
}
.meta .meta-part a:hover{
  color: #de1846;
}
#sidebar .cat-list li a:hover{
  color: #de1846;
}
#sidebar .tag a{
  background: #de1846;
}
.event-post .date p{
  color: #de1846;
}
.event-post .date{
  border-color: #de1846;
}
.event-grid-item .event-content .heding-title .date{
  background: #de1846;
}
.event-grid-item .event-content .heding-title h3 a:hover{
  color: #de1846;
}
#comments .comments-list .media .info-body .reply-link:hover{
  background: #de1846;
}
.testimonial-item .quote-author .quote-footer span{
  color: #de1846;
}
ul.nav.my-account-menu {
    
    padding: 10px 0px;
    margin: 0px;
}
ul.nav.my-account-menu li a:hover {
    background: #de1846;
    color: #fff;
}

ul.nav.my-account-menu li.active {
    background: #de1846;
    color: #fff;
}

ul.nav.my-account-menu li a {
    padding: 7px 30px 7px 20px;
    font-size: 14px;
    color: #eee;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: .3px;
    line-height: 32px;
}

.block-title {
    padding: 0px 11px;
}
.my-account-menu-container {
    padding: 0px;
    background: #262626;
}

.block-title {
    padding: 0px 11px;
    margin-bottom: -10px;
    /* margin-top: 15px; */
    padding-top: 12px;
}
section.layout{
  padding:14px 0px;
}
body.inline-frame button#braintree-paypal-button {
    display: none !important;
}

.my-account .profile-sidebar {
  padding: 20px 0 10px 0;
  background: #3b3b3b;
}

.my-account .profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.my-account .profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.my-account  .profile-usertitle-name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.my-account  .profile-usertitle-job {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.my-account .profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.my-account .profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.my-account .profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.my-account .profile-usermenu {
  margin-top: 30px;
}

.my-account .profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.my-account .profile-usermenu ul li:last-child {
  border-bottom: none;
}

.my-account .profile-usermenu ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.my-account .profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.my-account .profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #000;
}

.my-account .profile-usermenu ul li.active {
  border-bottom: none;
}

.my-account .profile-usermenu ul li.active a {
  color: #000;
  background-color: #f6f9fb;
  border-left: 5px solid #5b9bd1;
  margin-left: 0px;
}

/* Profile Content */
.my-account .profile-content {
  padding: 20px;
  background: #f3f3f3;
  min-height: 420px;
}

.thumb .courses-price {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    opacity: 0;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    webkit-transition: all 0.2s ease-in-out;
    moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

