.info-box {
    float: left;
    width:32%;
    margin: 5px;
    
}
.info-box h3 {
    color: #fff;
}
.info-box span {
    color: #fff;
}
.main-box-content {
	padding: 4px 10px;
    float: left;
    width: 60%;
    height: 114px;
}
.info-box .main-box-icon {
    float: left;
    width: 40%;
    padding: 26px 10px;
    font-size: 60px;
}
.info-box .main-box-icon i.fa {
    color: #eee;
}
.box-footer{
	position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.box-footer a{
    color: #fff;
}

.scheme-summary-box {
    background: #F7F7F7;
    border-radius: 3px;
    padding: 10px 15px;
}
.scheme-summary-box .summary-box-content {
    padding: 0px 15px;
}
.scheme-summary-box .summary-box-content li {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid rgba(216, 216, 216, 0.52);
    padding: 8px 10px;
}
.scheme-summary-box .summary-box-content li span {
    color: #000;
}



.highlight-box {
    background: #F7F7F7;
    border-radius: 3px;
    padding: 10px 15px;

}
.highlight-box .box-title span{
    font-size: 20px !important;
    text-transform: capitalize;
}

.payment-list{
    float: left;
    width: 100%;
}
.payment-details{
    float: left;
    width: 80%;
}
.payment-action {
    float: left;
    width: 20%;
}
/* ==============  COLORS   =====================*/

.bg-aqua {
    background: #00c0ef !important;
}
.bg-green {
    background: #00a65a !important;
}
.bg-yellow {
    background: #f39c12 !important;
}
.bg-red {
    background: #dd4b39 !important;
}
.s60[class^="flaticon-"]:before, .s60[class*=" flaticon-"]:before,
.s60[class^="flaticon-"]:after, .s60[class*=" flaticon-"]:after {
 font-size: 60px !important;
 color: #fff;
}





/*   to be removed in themes   */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {
    color: #fff !important;
}
.nav-tabs {
    border-bottom: 1px solid #ff3b3b;
}





/* ==============  fonts   =====================*/
h5 {
    font-size: 22px !important;
}
h4{
    font-size: 24px !important;
}

.btn-pull-down{
    position: absolute;
    right: 33px;
    bottom: 15px;
}
.payment-list {
    border-bottom: 1px solid rgba(102, 103, 103, 0.25);
    padding: 12px 33px;
}